body {
    background-image: url('homepage.jpg');

  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }
  
  .card-title{
    color:white;
    margin-top: 50px;
  }
  .form-check-label
  {
    color:white;
  }